@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'General Sans';
    width: 100dvw;
    background-color: #F3F3F3;
    overflow-x: hidden;
}

@layer base {
  @font-face {
    font-family: "geits-medium";
    src: url("/fonts/Geits-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "geits-regular";
    src: url("/fonts/Geits-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "geistmono-regular";
    src: url("/fonts/GeitsMono-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "geitsmono-light";
    src: url("/fonts/GeitsMono-Light.woff2") format("woff2");
  }
}

@layer utilities {
  .about-image {
    @apply absolute left-1/2 top-0 z-20 h-[60vh] w-96 origin-center -translate-x-1/2 overflow-hidden rounded-3xl md:w-[30vw];
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

